h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.sections{
    padding: 4em 0em;
}

.container{
    max-width: 80%;
    margin: auto;
}

@media (max-width:500px){
    .container{
        max-width: 95%;
    }
}

.text{
    text-align: center;
}

.heading{
    font-family: "Raleway Bold", serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: calc(1.4vw + 1rem);
}

.paragraph{
    font-family:"Raleway Light", serif;
    font-weight: 500;
    letter-spacing: 1px;
}